<!--COMPONENTE HTML DE CHAT ROOM-->
<div class="content">
    <div class="chat-header">
        <h2>Chat Room</h2>
    </div>
    <a href="./menu">MENU</a>
        <a href="./chatroom">CHAT</a>
    <div class="chat-messages" #scrollContainer>
        <div *ngFor="let message of chatRoomMessages"
            [ngClass]="{'my-message': message.sender === 'me', 'other-message': message.sender !== 'me'}">
            <strong>{{ message.sender }}:</strong> {{ message.text }}
        </div>
    </div>
    <form (submit)="sendMessage($event)">
        <input type="text" [(ngModel)]="messageText" placeholder="Type a message..." name="messageText" required />
        <button type="submit">Send</button>
    </form>

</div>