.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--content-bg-color);
    color: var(--transparent-fg-color);
    justify-content: center;
    align-items: center;
}

.chat-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0.5rem;
    background-color: var(--content-bg-color); // Variable de fondo de la barra de herramientas
    color: var(--title-font-size); // Variable de tamaño de fuente del título
}

.chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    background-color: var(--field-bg-color); // Variable de fondo del campo
    color: var(--text-font-size); // Variable de tamaño de fuente del texto
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.5rem;
}


form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0.5rem;
}
form input {
    width: 80%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--sidebar-bg-color);
    background-color: var(--field-bg-color);
    color: var(--text-font-size);
    transition: background-color 0.3s ease, color 0.3s ease;
}

form button {
    width: 15%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--toolbar-bg-color);
    background-color: var(--toolbar-bg-color);
    color: var(--primary-colored-color);
    font-weight: bolder;
    transition: background-color 0.3s ease, color 0.3s ease;
}
form button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--text-font-size);
}


.my-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--avatar-bg-color);
    color: var(--colored-fg-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0.5rem 0;
}


.other-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--field-bg-color); // Variable de fondo del campo
    color: var(--text-font-size); // Variable de tamaño de fuente del texto
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-exit{
    background-color: var(--toolbar-bg-color);
    color: var(--primary-colored-color);
    font-weight: bolder;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0.5rem 0;
    padding: 0.5rem 20px;
    border-radius: 0.5rem;
    border: 1px solid var(--toolbar-bg-color);;
}